:host {

    &.ng-touched,
    &.ng-dirty {
        &.ng-invalid {
            img {
                background-color: red;
                border-radius: 10px;
            }
        }

        &.ng-valid {
            img {
                &.selected {
                    border: green 1px solid;
                    border-radius: 10px;
                }
            }
        }
    }

    table {
        display: flex;
        justify-content: center;

        img,
        .blank {
            width: 40px;
            height: 40px;
        }

        img {
            cursor: pointer;

            &:hover {
                background-color: aqua;
                border-radius: 6px;
                transition: all 125ms;
            }

            &.selected {
                background-color: greenyellow;
                border-radius: 6px;
                transition: all 125ms;
            }
        }
    }
}