<!-- <p>import { ReactiveFormsModule } from '@angular/forms';</p> -->
<p>Form Arrays & Dynamic Forms with Reactive Forms.</p>

<div class="cardContainer">

    <form [formGroup]="memberListForm">

        <input type="text" placeholder="List name" formControlName="listName">

        <ng-container formArrayName="memberList">
            <ng-container *ngFor="let member of memberList.controls; let i = index">
                <div class="form-array" [formGroupName]="i" [id]="i">
                    <input type="text" placeholder="vorname" formControlName="vorname">
                    <input type="text" placeholder="nachname" formControlName="nachname">
                </div>
            </ng-container>
        </ng-container>

        <button (click)="addMember()">Mitglied hizufügen</button>

        <button [disabled]="isDisabled()" type="submit">Submit</button>

    </form>

</div>